@charset "utf-8";
/*
  Sitename: http://yoursite.org/
  Author: Aldridge

  Credits: Special stylesheet for IE 8 and below.

  style-ie.css
  IE styles.
*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~ Override Styles ~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */